<!DOCTYPE html>
{% load i18n %}
{% load url from future %}
{% load cms_tags sekizai_tags %}
{% load page_tags %}
{% load cache menu_tags %}
{% load url from future %}
<html>
	<head>
		<title>{% block title %}{% page_attribute page_title %}{% endblock %}</title>
		<meta name="description" content="{% block meta-description %}{% page_attribute meta_description %}{% endblock %}"/>
		<meta name="keywords" content="{% block meta-keywords %}{% page_attribute meta_keywords %}{% endblock %}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ STATIC_URL }}ruscon/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}ruscon/css/style.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}ruscon/css/bootstrap-responsive.css" rel="stylesheet">
		{% render_block "css" %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}ruscon/js/bootstrap.min.js"></script>
		{% render_block "js" %}
	</head>
	<body>
		<div class="container shadow" style="background: white;">

			<div class="row">
				<div class="span9 header-image">
					<p id="logo">
						<img src="{{ STATIC_URL }}ruscon/images/gcslogo.svg">
					</p>
				</div>
				<div class="span3">
					<div class="header-phones right">
						<ul>
							<li>+7 (495) 740-16-60 <span class="label">Moscow</span></li>
							<li>+7 (812) 335-00-20 <span class="label">St.Petersburg</span></li>
							<li>+7 (8617) 676-037 &nbsp;<span class="label">Novorossiysk</span></li>
						</ul>
					</div>
					<p id="lang" class="right">
						{% for lang in LANGUAGES %}<a href="/{{lang.0}}{{request.path}}">{{ lang.0|human_lang|safe }}</a>{% endfor %}
					</p>
				</div>
			</div>

			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="/">GCS</a>
					<ul class="nav">
						{% show_menu 0 100 2 2 'includes/menu.html' %}
					</ul>
				</div>
			</div>

			{% block slideshow %}{% endblock slideshow %}

			{% block content-container %}
			<div class="row" id="content-container">
				<div class="span3" id="sidebar">
					{% block slidebar %}
					<p>
						<ul class="nav nav-pills nav-stacked">
							{% show_menu 1 100 0 100 'includes/menu.html' %}
						</ul>
					</p>
					{% endblock slidebar %}
				</div>

				<div class="span9">
					{% block content %}
					{% block entry-content %}
					<h1>{% placeholder "custom-title" or %}{% page_attribute title %}{% endplaceholder %}</h1>
					{% placeholder "page-content" or %}
					<ul>
						{% load cache menu_tags %}
						{% show_sub_menu 2 %}
					</ul>
					{% endplaceholder %}
					{% endblock %}
					{% endblock content %}
				</div>
			</div>
			{% endblock content-container %}			
			<hr>
			<footer>
				<p class="muted">
					{% get_copyright '2000' %}	{% show_placeholder "get-copyright" "global_placeholder" %}
					<br>
					<!-- Yandex.Metrika informer -->
					<a href="http://metrika.yandex.ru/stat/?id=23080864&amp;from=informer"
					target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23080864/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
					style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:23080864,lang:'ru'});return false}catch(e){}"/></a>
					<!-- /Yandex.Metrika informer -->
					
					<!-- Yandex.Metrika counter -->
					<script type="text/javascript">
					(function (d, w, c) {
					    (w[c] = w[c] || []).push(function() {
					        try {
					            w.yaCounter23080864 = new Ya.Metrika({id:23080864,
					                    clickmap:true,
					                    trackLinks:true,
					                    accurateTrackBounce:true});
					        } catch(e) { }
					    });
					
					    var n = d.getElementsByTagName("script")[0],
					        s = d.createElement("script"),
					        f = function () { n.parentNode.insertBefore(s, n); };
					    s.type = "text/javascript";
					    s.async = true;
					    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
					
					    if (w.opera == "[object Opera]") {
					        d.addEventListener("DOMContentLoaded", f, false);
					    } else { f(); }
					})(document, window, "yandex_metrika_callbacks");
					</script>
					<noscript><div><img src="//mc.yandex.ru/watch/23080864" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
					<!-- /Yandex.Metrika counter -->
					
					<!-- Like Buttons -->
					<script>
					    /* uptolike share begin */
					    (function(d,c){
					        var up=d.createElement('script'),
					                s=d.getElementsByTagName('script')[0],
					                r=Math.floor(Math.random() * 1000000);
					        var cmp = c + Math.floor(Math.random() * 10000);
					        var url = window.location.href;
					        window["__uptolike_widgets_settings_"+cmp] = {
					                
					                
					        };
					        d.write("<div id='"+cmp+"' class='__uptlk' data-uptlkwdgtId='"+r+"'></div>");
					        up.type = 'text/javascript'; up.async = true;
					        up.src = "//w.uptolike.com/widgets/v1/widgets.js?b=fb.tw.ok.vk.gp.mr&id=974044&o=2&m=1&sf=2&ss=2&sst=1&c1=ededed&c1a=0.0&c3=ff9300&c5=ffffff&mc=1&c2=000000&c4=ffffff&c4a=1.0&mcs=0&sel=1&fol=0&sel=1&he=3&c=" + cmp + "&url="+encodeURIComponent(url);
					        s.parentNode.insertBefore(up, s);
					    })(document,"__uptlk");
					    /* uptolike share end */
					</script>
					<!-- End like Buttons -->					
					
				</p>
			</footer>
		</div><!-- /container -->
	</body>

</html>

