{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% load page_tags %}
{% load i18n %}

{% block slideshow %}
<div class="row">
	<div class="span12">
		<div id="slide-wrapper">
			<div id="header-image" class="dotblue pull-left">
				{% show_placeholder "header-image" "global_placeholder" %}
			</div>
			<div id="header-right" class="pull-right">
				{% show_placeholder "header-text" "global_placeholder" %}
			</div>
		</div>
	</div>
	
</div>
{% endblock slideshow %}

{% block content-container %}
<br>
<div class="row">
	<div class="span4" id="news">
		<h2>{% page_attribute "page_title" "news" %}</h2>
          <p>
          	{% placeholder news %}         	
          </p>
          <p><a class="btn btn-info" href="{% page_url "news" %}">{% trans "More" %} &raquo;</a></p>
		
	</div>
			
	<div class="span5">		          
          	{% placeholder "company" %}       	
	</div>
	
	<div class="span3">
		<h3>{% page_attribute "page_title" "services" %}</h3>
          <p>
          	{% get_pages "services" %}       
          	{% placeholder services %}  	
          </p>       
	</div>
		
</div>
{% endblock content-container %}