<body>
		<div class="wide">
			<div class="container">

				<div id="header">
					<div id="logo">
						<a href="/" title="РУСКОН"><img src="{{ STATIC_URL }}ruscon/images/logo.gif" width="221" height="50" border="0" alt="РУСКОН" /></a>
					</div>

					{% load page_tags %}

				</div><!--end header-->

			</div>
		</div>

		<div class="wideline">
			&nbsp;
		</div>
		<!--menu-->
		<div class="widemenu">
			<div class="container">
				<div class="topmenu">
					<ul>
						
						
						{ sitetree_menu }
						
						 
						 {% for lang in LANGUAGES %}
        					{% ifnotequal lang.0 LANGUAGE_CODE %}
        					<li><a href="/{{lang.0}}{{request.path}}">{{ lang.0|human_lang }}</a></li>      					      
        				{% endifnotequal %}
    					{% endfor %}					
					</ul>
				</div>
			</div>
		</div>
		<!--end menu-->

		{% block widepromo %}{% endblock widepromo %}

		<div class="wideline">
			&nbsp;
		</div>

		<div class="container">
			<div class="maincontent">	
				<div class="line">&nbsp;</div>			
				{% block maincontent %}
				<div id="content" class="hfeed">
					
        {% block content %}{% endblock %}     
      </div>
				{% endblock maincontent %}
			</div>
		</div>

		<div class="wideline">
			&nbsp;
		</div>
		<div class="container">				
			<div class="footer_menu">
				{% show_placeholder "adresses" "global_placeholder" %}				
			</div>

			<div id="footer">
				<p>
				{% get_copyright %}	{% show_placeholder "get-copyright" "global_placeholder" %}
					<br />				
					{ sitetree_menu }		
				</p>
				<div id="address">
					<p>						
						{% show_placeholder "liveinternet" "global_placeholder" %}
					</p>
				</div>
			</div><!--end footer-->			
		</div>

	</body>
</html>