{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% load page_tags %}

{% block slideshow %}{% endblock slideshow %}

{% block header %}
<div id="header_2level" style="background: url({{ STATIC_URL }}ruscon/images/{% placeholder "header-image" inherit or %}{% show_placeholder "header-image" "global_placeholder" %}{% endplaceholder %})">
	<div id="logo"></div>
	<div id="logo_">
		<a href="/"><img src="{{ STATIC_URL }}ruscon/images/gcs_logo.gif" width="189" height="78" alt="" title="" /></a>
	</div>
	<div id="phone"></div>
	<div id="phone_">
		{% show_placeholder "big-phones" "global_placeholder" %}
	</div>

	<div id="menu_2level"></div>
	<div id="menu_2level_">
		{% load cache menu_tags %}
		<ul>
			{% show_menu 0 0 100 100 %}
		</ul>
	</div>
</div>
{% endblock header %}


