<table cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td class="office1"><b>Office in Shanghai:</b>
			<br />
			<br />
			200120, Shanghai
			<br />
			East LuJiaZui Rd 161,of 2312
			<br />
			tel. 0086-21-58766741
			<br />
			mobile 0086-13601785570
			<br />
			<a href="mailto:info@gcschina.ru">info@gcschina.ru</a></td><td width="20">&nbsp;</td><td class="office1"><b>Head Office in Russia:</b>
			<br />
			<br />
			14a, Novorossiyskoy resp. str.,
			<br />
			353900, Novorossiysk, Russia
			<br />
			tel: +7(8617)676037, 678000(ext.432),
			<br />
			fax:+7(8617)678066
			<br />
			<a href="mailto:info@gcschina.ru">info@gcschina.ru</a></td><td width="20">&nbsp;</td><td class="office2"><b>Office in Moscow:</b>
			<br />
			<br />
			15, Donskaya str.,
			<br />
			119049, Moscow, Russia
			<br />
			tel: +7 495 740 1660
			<br />
			fax: +7 495 740 1660
			<br />
			<a href="mailto:info@gcschina.ru">info@gcschina.ru</a></td><td width="20">&nbsp;</td><td class="office2"><b>Office in Saint Petersburg</b>
			<br />
			<br />
			off 313,
			<br />
			18, Bumazhnaya str.,
			<br />
			190020, Saint Petersburg, Russia
			<br />
			tel.: +7 812 3350020
			<br />
			fax: +7 812 335 0021
			<br />
			<a href="mailto:info@gcschina.ru">info@gcschina.ru</a></td><td width="20">&nbsp;</td><td class="office2">&nbsp;</td>
		</tr>
	</tbody>
</table>