body, html {height: 100%; margin: 0px; padding: 0px;}

body, td {font-family: tahoma; font-size: 12px;}
body {background: #fff}
.nospace, map, form, tr, td, table, img {border-collapse: collapse; border: 0px; margin: 0px; padding: 0px;}
td {vertical-align: top;}

a {text-decoration: none}
a:hover {text-decoration: underline}

.block {float: left; display: block}
.bl {float: left;}

.block-r {float: right; display: block}
.cb {clear: both;}

.b {font-weight: bold;}
.u {text-decoration: underline}
.up {text-transform: uppercase}

.r1 {color: #E50005}
.na1{color: #014EA0}
.wh1 {color: #ffffff}



div.menu a.unact {background: url(/img/m-un.gif) no-repeat 0 11px;color: #19599D; display: block; width: 240px; font-size: 12px; font-weight: bold; text-decoration: underline;}
div.menu a.act {background: url(/img/m-ac.gif) no-repeat 0 9px;color: #EB3D00;display: block; width: 240px; font-size: 12px; font-weight: bold; text-decoration: underline;}
div.menu a.unact span, div.menu a.act span {display: block; padding: 6px 0 3px 22px; }
div.menu a.act2 {color: #EB3D00; display: block; width: 240px; font-size: 11px; text-decoration: underline;}
div.menu a.act2 span {display: block; padding: 7px 0 0px 22px; }


h1 {font-size: 18px; font-weight: normal; margin: 0; padding:0;}
h1.news {padding-left: 17px; border-left: 4px solid #A8B6D7; line-height: 16px;}

a.news {font-family: arial; font-size: 12px; color: #23297A; padding-bottom: 15px; display: block; width: 240px;}
a.news span {font-size: 10px; font-family: verdana; font-weight: bold;}
div.bot {margin: 20px 0 0 19px; width: auto; height: 30px; font-weight: bold; color: #fff;}
div.bot  a {font-weight: bold; color: #fff; }

a.copyright {font-size: 10px; color: #22287A; text-decoration: underline;}
.div1 {
          font-size:10px;                                                  
	  width:201px;
	  height:175px;
          position:relative;
	  z-index:200;
          visibility:hidden;
}

.bl img.new{	
	margin: 2px 6px 2px 0;
	padding : 1px;
	border: 1px solid #A8B6D7;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
}

.bl a img:hover {
	opacity: 0.7;	
}

.doclist {
	margin: -16px 0 0;
	list-style: none;
	padding: 0;
}

.doclist li {
	padding: 3px 0 3px 0;
}

.doclist li span {
	padding : 0 15px 0 0;
}
