{% load i18n %}
<div id="faq">
    <ul>
        {% for object in entries %}
        <li>
            <p>
                <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">{{ object.title }}</a>
            </p>
            <p>
                {{ object.excerpt|striptags|safe }}
            </p>
            <p>
                {{ object.creation_date|date:"SHORT_DATE_FORMAT"  }}
            </p>
            {% empty %}
            <p>
                {% trans "No entries yet." %}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>

{% if is_paginated %}
{% load zinnia_tags %}
{% zinnia_pagination page_obj %}
{% endif %}
