body {
	background: url(../images/debut_light.png);
}

.container {
	border: 37px solid white;
	border-bottom-width: 15px;
	border-top: 0;
}

.shadow {
	box-shadow: 0 1px 4px rgba(0,0,0,0.065)
}

.dotted-bg {
	background: url(../images/subtle_dots.png);
}

#logo {
	padding: 20px 0;
}

.dotblue {
	/*background: url(../images/dotblue.png) #215e9a;*/
	background: #215e9a;
}

#header-image {
	padding: 12px 12px 8px;
	width: 763px;
}

#sidebar {
	margin-top: 4px;
}

#lang {
	padding: 95px 0 0 0; 
}

#lang a{
	padding-left: 1px;
}

.right {
	float: right;
}

#content-container {
	background: url(../images/sidebar.png) repeat-y 5px ;
}

#news {
	margin-top: -3px;
}

.clear-list li{
	padding-top: 10px;
}

.clear-list li:first-child{
	padding-top: 0;
}

.google-map-container img {
  max-width: none;
}
.entry-image {
	margin: 5px 15px 0 0;
}

#header-right {
	width: 380px;
	text-align: center;
	padding-top: 23px;
	color: white;
}

#header-right h1 {
	font-size: 30px;	
}

#slide-wrapper {
	overflow: hidden;
	background: #215e9a;	
}
