table.wnd{
        border: 1px solid #005597;

}
table.genhtml{
        border: 1px solid red;
        color:red;

}
td.genhtml{
        border: 1px solid red;
        color:red;

}
td.hlt_green{
        color: #12975E;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;

}
img.ibutton{
        border: 1px solid #C1C1C1;

}

td{
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
/*        font-weight: bold;*/

}
td.header {
        background: #005597;
        border: 1px solid #005597;
        color: White;
        font-weight: bold;
        vertical-align: middle;
        text-align:center;
}


td.midl{
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
vertical-align: middle;
}
.WHITE{
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-align: center;
        font: bold;
        text-decoration: none;
}

BODY {
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
}
BODY.view {
        scrollbar-track-color: #D7EBFF;
        scrollbar-arrow-color: 005597;
        scrollbar-shadow-color: 005597;
        scrollbar-darkshadow-color: 005597;
        scrollbar-highlight-color: 005597;
        scrollbar-3dlight-color: #D7EBFF;
        scrollbar-face-color: 76C5F0;
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: left;

}

.TOP{
        vertical-align: top;
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
}
.top1{
        vertical-align: top;
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-align: left;
}
a.link{
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
}
a.link:active {
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
}
a.link:hover {
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
}
a.link:visited {
    color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
}

a.wnd{
        color: #555599;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
}
a.wnd:active {
        color: #555599;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
}
a.wnd:hover {
        color: #555599;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
}
a.wnd:visited {
    color: #555599;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
}

.bg{background-position: 0% 0%;
background-attachment: fixed;}
td.main{
 color: #8D8A8A;
        font-size: 12pt;
        font-family: tahoma;

}
input.form {
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
   width: 600px

}
input.but {
        background: #005597;
        border: 1px solid #005597;
        color: White;
        font-weight: bold;
        vertical-align: middle;
        width: 80px;
}
input.but2 {
        background: #005597;
        border: 1px solid #005597;
        color: White;
        font-weight: bold;
        vertical-align: middle;
        width: 100px;
}
input.but3 {
        background: #005597;
        border: 1px solid #005597;
        color: White;
        font-size: 8pt;
        font-weight: bold;
        vertical-align: middle;
        width: 100px;
}
input{
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;

}
input.form2 {
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
   width: 150px

}

input.form4 {
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
   width: 50px

}
input.form3 {
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
   width: 210px

}
.dlg {
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #5778A3;
/*        font-weight: bold;*/
        vertical-align: middle;
   width: 150px

}

select{
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
   width: 150px
}

select.sel1{
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
   width: 150px
}
select.sel2{
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
   width: 600px
}
select.sel3{
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
   width: 400px
}

textarea {
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
        width: 100%;

}
textarea.header3 {
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
        height: 100px;
        width: 600px

}
textarea.header4 {
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
        height: 200px;
        width: 300px

}
textarea.header2 {
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
        height: 70px;
        width: 600px

}
textarea.header1 {
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border: 1px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
        height: 40px;
        width:600px

}



input.ch{
/*        background: #76C5F0;*/
        background: #FFFFFF;
        border:1\5px solid #005597;
        color: #005597;
/*        font-weight: bold;*/
        vertical-align: middle;
}





a.belti:active {
        color: White;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
}
a.belti{
        color: White;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
}
a.belti:hover {
        color: White;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
}
a.belti:visited {
                color: White;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
}
a.belti:active {
                        color: White;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
}



a.menu{
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
}
a.menu:active {
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
}
a.menu:hover {
        color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
}
a.menu:visited {
   color: #005597;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
}
a.menu2{
        color: #005597;
        font-family:          Helvetica, sans-serif;
        font-size: 11px;
        text-decoration: none;
}
a.menu2:active {
        color: #005597;
        font-family: Helvetica, sans-serif;
        font-size: 11px;
        text-decoration: none;
}
a.menu2:hover {
        color: #005597;
        font-family:  Helvetica, sans-serif;
        font-size: 11px;
        text-decoration: none;
}
a.menu2:visited {
   color: #005597;
        font-family:  Helvetica, sans-serif;
        font-size: 11px;
        text-decoration: none;
}
a.white{
        color: white;
        font-family: Helvetica, sans-serif;
        font-size: 11px;
        text-decoration: none;
}
a.white:active {
        color: white;
        font-family: Helvetica, sans-serif;
        font-size: 11px;
        text-decoration: none;
}
a.white:hover {
        color: white;
        font-family:  Helvetica, sans-serif;
        font-size: 11px;
        text-decoration: none;
}
a.white:visited {
   color: white;
        font-family:  Helvetica, sans-serif;
        font-size: 11px;
        text-decoration: none;
}