DefaultLanguage ru
AddDefaultCharset windows-1251
AddCharset WINDOWS-1251 html
AddCharset WINDOWS-1251 shtml
AddCharset WINDOWS-1251 htm
AddCharset WINDOWS-1251 php
AddType "text/html;charset=windows-1251" shtml
AddType "text/html;charset=windows-1251" html
AddType "text/html;charset=windows-1251" htm
AddType "application/x-httpd-php;charset=windows-1251" php
php_value ipv6 disable
php_flag ipv6 off
DirectoryIndex show.php index.php index.html
RewriteEngine On
RewriteCond	/home/gcs/%{REQUEST_FILENAME} !-f
#RewriteRule ^cntnt/(.*)html redir.php
#RewriteRule ^icproducts/(.*)html redir.php
#RewriteRule ^shop/(.*) redir.php

RewriteRule ^(cntnt|srch_cntnt)/(.*)html redir.php
RewriteRule ^icproducts/(.*)html redir.php
RewriteRule ^(shop_redirect|shop|srch_shop)/(.*) redir.php
RewriteRule ^(srch)/(.*) redir.php
